parameters:
    paths:
        - app
        - database/factories
        - database/seeders
        - routes
        - tests

    level: 9

    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Access to an undefined property App\\Http\\Resources\\V1\\[a-zA-Z0-9::a-zA-Z]#'

    checkGenericClassInNonGenericObjectType: false

includes:
    - vendor/larastan/larastan/extension.neon
